# üé¨ Lecture 2 Notebook ‚Äî *Movie Explorer: Data Types*


## üìñ Introduction to Data Types
Python has a few **basic data types** we‚Äôll use today:  

- **Integers (`int`)**: whole numbers like vote counts  
- **Floats (`float`)**: decimal numbers like ratings  
- **Booleans (`bool`)**: `True` or `False` values like trailer availability  
- **Strings (`str`)**: text like movie titles and overviews  

We‚Äôll use real movie data from TMDb to practice each one.    

Today only you will use my account to grab the data.  The last thing you should do today is get your own account.

If you have your own account, you can update the key right now.


**I will be deleting this key after lecture, so if you want to run this later you will need to use your own key**

## üé¨ Provided Movie Data

In [ ]:
import pprint
import requests
import json

YOUR_KEY = "fd76bba2f625a2e4eafe0896dfbeada4"

def get_movie(title):
    url = f"https://api.themoviedb.org/3/search/movie?query={title}&api_key={YOUR_KEY}"
    print(url)
    r = requests.get(url).json()
    return r["results"][0]

movie = get_movie("Titanic")
print(movie)

https://api.themoviedb.org/3/search/movie?query=Inception&api_key=fd76bba2f625a2e4eafe0896dfbeada4
{'adult': False, 'backdrop_path': '/ii8QGacT3MXESqBckQlyrATY0lT.jpg', 'genre_ids': [28, 878, 12], 'id': 27205, 'original_language': 'en', 'original_title': 'Inception', 'overview': 'Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person\'s idea into a target\'s subconscious.', 'popularity': 27.2271, 'poster_path': '/xlaY2zyzMfkhk0HSC5VUwzoZPU1.jpg', 'release_date': '2010-07-15', 'title': 'Inception', 'video': False, 'vote_average': 8.371, 'vote_count': 38479}

In [6]:
movie = {'adult': False, 'backdrop_path': '/ii8QGacT3MXESqBckQlyrATY0lT.jpg', 'genre_ids': [28, 878, 12], 'id': 27205, 'original_language': 'en', 'original_title': 'Inception', 'overview': 'Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person\'s idea into a target\'s subconscious.', 'popularity': 25.4551, 'poster_path': '/xlaY2zyzMfkhk0HSC5VUwzoZPU1.jpg', 'release_date': '2010-07-15', 'title': 'Inception', 'video': False, 'vote_average': 8.37, 'vote_count': 38475}
print(movie)

{'adult': False, 'backdrop_path': '/ii8QGacT3MXESqBckQlyrATY0lT.jpg', 'genre_ids': [28, 878, 12], 'id': 27205, 'original_language': 'en', 'original_title': 'Inception', 'overview': 'Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person\'s idea into a target\'s subconscious.', 'popularity': 25.4551, 'poster_path': '/xlaY2zyzMfkhk0HSC5VUwzoZPU1.jpg', 'release_date': '2010-07-15', 'title': 'Inception', 'video': False, 'vote_average': 8.37, 'vote_count': 38475}

## 1Ô∏è‚É£ Integers (`int`)


Integers are whole numbers. Example fields:  
- `id`: the movie‚Äôs unique ID  
- `vote_count`: how many people rated the movie

In [5]:

movie_id = movie["id"]
vote_count = movie["vote_count"]

# Use comma printing for ints
print("Movie ID is", movie_id)
print("This movie has", vote_count, "votes.")





#print(f"This movie has {vote_count:,} votes.")

Movie ID is 27205
This movie has 38475 votes.

### Example: Updating an Integer

In [13]:
vote_count = vote_count + 1000
print("The vote count has been updated.  The total is", vote_count)

The vote count has been updated.  The total is 44975


### üìù Challenges ‚Äî Integers
1. Print the `vote_count` again in your own sentence.  
2. Add 1000 to the vote count and print the new total.

In [ ]:
# ‚úçÔ∏è Student code here

## 2Ô∏è‚É£ Floats (`float`)


Floats are numbers with decimals. Example fields:  
- `vote_average`: average rating (e.g., 8.8)  
- `popularity`: popularity score

In [14]:

rating = float(movie["vote_average"])
popularity = float(movie["popularity"])

# Try concatenation with + (this will cause an error!)
print("Rating is " + rating)    # üö® TypeError here


# We will look at a solution below.

TypeError: can only concatenate str (not "float") to str

## üîÑ Type Conversion Functions


We can convert between types using functions like:  
- `str()` ‚Üí to string  
- `int()` ‚Üí to integer  
- `float()` ‚Üí to float  
- `bool()` ‚Üí to boolean

In [18]:

# Now it works after conversion
print("Rating is " + str(rating))
print("Popularity score is " + str(popularity))




print(f"Popularity score is {popularity:.21f}")
print(f"Popularity score is {popularity:.17f}")

Rating is 8.37
Popularity score is 25.4551
Popularity score is 25.455100000000001614353
Popularity score is 25.45510000000000161


### üìù Challenges ‚Äî Floats
1. Multiply the rating by 10 and print: `"Rating out of 100: XX"`.  
2. Print popularity in a sentence.

In [ ]:
# ‚úçÔ∏è Student code here

## 3Ô∏è‚É£ Booleans (`bool`)


Booleans are either `True` or `False`. Example fields:  
- `video`: does the movie have an associated trailer?  
- `adult`: is the movie marked as adult content?

In [ ]:

video = bool(movie["video"])
adult = bool(movie["adult"])

# Use f-strings for printing
print(f"Has a video? {video}")
print(f"Adult content? {adult}")


### üìù Challenges ‚Äî Booleans

1. Print `"Trailer available:"` followed by the actual `video` value.  
2. Print `"Adult movie:"` followed by the `adult` value.

In [ ]:
# ‚úçÔ∏è Student code here

### ‚ö° Extra: How Booleans Work in Python


Almost everything in Python converts to `True` when turned into a Boolean:  

- **False values**: `0`, `0.0`, `""` (empty string), `[]` (empty list), `{}` (empty dict), and `None`.  
- **Everything else** is `True`.

In [ ]:

print(bool(0))         # False
print(bool(5))         # True
print(bool(""))        # False
print(bool("Hello"))   # True
print(bool([]))        # False
print(bool([1, 2]))    # True

*Boolean values in Python vs other programming languages*.

You may have noticed that the data we grabbed from the web used true/false instead of True/False.  In Python you must use the capital letters.

## 4Ô∏è‚É£ Strings (`str`)


Strings are text, like titles and overviews. You can use different quotes depending on the text:

In [19]:
title1 = "Schindler's List"         # needs double quotes because of '
title2 = 'He said, "I‚Äôll be back."' # needs single quotes because of "
title3 = """This is
a multi-line string
for long overviews."""

print(title1)
print(title2)
print(title3)

Schindler's List
He said, "I‚Äôll be back."
This is
a multi-line string
for long overviews.


### üìù Challenges ‚Äî Strings
1. Print the `title` of the movie in a sentence.  
2. Print the `overview`.

In [25]:
# ‚úçÔ∏è Student code here --
# Go back up to find how to get the title and overview data.
print("The title is "+ movie['title'] )
print("The overview is " + movie["overview"] )

The title is Inception
The overview is Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person's idea into a target's subconscious.

## üé¨ Your Turn: Try Another Movie!

Let‚Äôs explore a different movie.

In [30]:
# Example: fetch Titanic
movie2 = get_movie("Titanic")
pprint.pprint(movie2) # Look at the raw data
print("The title is "+ movie2['title'] )
print("The overview is " + movie2["overview"] )

NameError: name 'get_movie' is not defined

In [27]:
movie2 = {'adult': False, 'backdrop_path': '/xnHVX37XZEp33hhCbYlQFq7ux1J.jpg', 'genre_ids': [18, 10749], 'id': 597, 'original_language': 'en', 'original_title': 'Titanic', 'overview': "101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fianc√©. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death‚Äîon its first and last voyage‚Äîon April 15, 1912.", 'popularity': 35.7108, 'poster_path': '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg', 'release_date': '1997-12-18', 'title': 'Titanic', 'video': False, 'vote_average': 7.902, 'vote_count': 26647}
pprint.pprint(movie2)

{'adult': False,
 'backdrop_path': '/xnHVX37XZEp33hhCbYlQFq7ux1J.jpg',
 'genre_ids': [18, 10749],
 'id': 597,
 'original_language': 'en',
 'original_title': 'Titanic',
 'overview': '101-year-old Rose DeWitt Bukater tells the story of her life '
             'aboard the Titanic, 84 years later. A young Rose boards the ship '
             'with her mother and fianc√©. Meanwhile, Jack Dawson and Fabrizio '
             'De Rossi win third-class tickets aboard the ship. Rose tells the '
             "whole story from Titanic's departure through to its death‚Äîon its "
             'first and last voyage‚Äîon April 15, 1912.',
 'popularity': 35.7108,
 'poster_path': '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg',
 'release_date': '1997-12-18',
 'title': 'Titanic',
 'video': False,
 'vote_average': 7.902,
 'vote_count': 26647}


### üìù Final Challenge
Using what you‚Äôve learned, print out:  
1. The movie‚Äôs ID (`int`).  
2. Its rating (`float`).  
3. Whether it has a video (`bool`).  
4. Its title (`str`).

In [41]:
# ‚úçÔ∏è Student code here
print("The id is " + str(movie2['id']))
print("The rating is " + str(movie2['popularity']))
print("There is no video" )
print("The title is " + str(movie2['title']))

The id is 597
The rating is 35.7108
There is no video
The title is Titanic

## üîë Your Own API Key and Movie


Now it‚Äôs time to try the API with **your own account**.  

1. Go to [The Movie Database API page](https://www.themoviedb.org/documentation/api) and sign up for a free API key.
2.  You will need to verify the account from your email.  
3. Log in.   
4. Go to your profile --> API Subscription --> Access your API key
5. When prompted for a URL just use "**https://si.umich.edu/**".  When prompted for a reason you can use "**I will be using this for my homework in SI101**
"
6. Copy the key into the variable `my_key`.  
7. . Pick **any movie you like** and assign the name to `my_movie`.

In [ ]:
# ‚úçÔ∏è Student code here
YOUR_KEY =  "rhhjgfdbffmj.lkhgfdf"      # update with your actual key - what type should it be?
your_movie = "Pinochio"     # update with any movie you like - what type should it be?

### Call the API With Your Own Info

Run the code below.  Try changing the movie name above and run **both cells** again.

In [ ]:

def get_movie(title):
    url = f"https://api.themoviedb.org/3/search/movie?query={title}&api_key={YOUR_KEY}"
    print(url)
    r = requests.get(url).json()
    return r["results"][0]

movie3 = get_movie(your_movie)
pprint(movie3) # Look at the raw data

# Print some info about your chosen movie
print("Your movie is:", movie3["title"])
print("ID:", movie3["id"])
print("Rating:", movie3["vote_average"])
print("Has video?", movie3["video"])

NameError: name 'your_movie' is not defined


## ‚úÖ Wrap-Up
Today we:  
- Explored **ints, floats, bools, and strings**.  
- Practiced **printing** in different styles.  
- Learned about **type conversion**.  
- Saw that almost everything converts to `True`.  
- Practiced with **two movies**, then set up your **own key** and chose a movie yourself.  

Next time, we‚Äôll use **lists and dictionaries** to handle bigger groups of movie data.